# backend - flask
fskenv/
__pycache__/
*.pyc
.env
.env.*
.DS_Store
Thumbs.db
database/embeddings.npy
database/product_ids.npy
*.log
.vscode/
.idea/
*.npy

# frontend = react
node_modules/
build/
dist/